/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FUNDO */
body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #00d9ff, #0099cc);
    min-height: 100vh;
}

/* MENU */
#menu{
    background-color: #001f4d;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

/* LINKS DO MENU */
#menu a{
    color: white;
    text-decoration: none;
    margin: 0 25px;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
    padding: 10px 18px;
    border-radius: 8px;
}

/* HOVER */
#menu a:hover{
    background-color: cyan;
    color: #001f4d;
}

/* CONTAINER */
.container{
    width: 85%;
    max-width: 1000px;
    margin: 50px auto;
    background-color: rgba(255,255,255,0.15);
    backdrop-filter: blur(10px);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.3);
    text-align: center;
}

/* TITULO */
h1{
    color: white;
    font-size: 42px;
    margin-bottom: 30px;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.3);
}

/* TEXTO */
.texto{
    color: white;
    font-size: 22px;
    margin-top: 10px;
}

/* TABELA */
table{
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 6px 20px rgba(0,0,0,0.2);
}

/* CABEÇALHO */
th{
    background-color: #001f4d;
    color: white;
    padding: 18px;
    font-size: 22px;
    border: 3px solid #003b8f;
}

/* CÉLULAS */
td{
    padding: 18px;
    font-size: 18px;
    color: black;
    border: 3px solid #003b8f;
}

/* EFEITO NAS LINHAS */
tr:hover{
    background-color: #dff9ff;
    transition: 0.3s;
}

/* LINK DO PROJETO */
.linkProjeto{
    color: #001f4d;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

/* HOVER DO LINK */
.linkProjeto:hover{
    color: #00aaff;
    text-decoration: underline;
}
