body {
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


canvas {
    background-color: #fff;
    border: 2px solid #000;
}